<div id="employeeFormModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
        <div class="modal-header">
          <div [ngSwitch]="action">
            <h4 *ngSwitchCase="actionType.Add" class="modal-title">Add Employee</h4>
            <h4 *ngSwitchCase="actionType.Edit" class="modal-title">Edit Employee</h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="employee.name" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Designation</label>
            <input type="text" [(ngModel)]="employee.designation" name="designation" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="employee.email" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Office Location</label>
            <textarea [(ngModel)]="employee.location" name="location" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Salary</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">&euro;</span>
              </div>
              <input type="number" [(ngModel)]="employee.salary" name="salary" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn value="Cancel">
          <div [ngSwitch]="action">
              <input *ngSwitchCase="actionType.Add" type="submit" [disabled]="!employeeForm.valid" class="btn btn-success" value="Add">
              <input *ngSwitchCase="actionType.Edit" type="submit" [disabled]="!employeeForm.valid" class="btn btn-info" value="Save">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Delete Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this employee with name "{{ employee?.name }}"?</p>
            <p class="text-warning">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-info" data-dismiss="modal" #closeBtn value="Cancel">
            <input type="submit" (click)="onDelete()" class="btn btn-danger" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>