<app-navbar></app-navbar>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage
            <b>Employees</b>
          </h2>
        </div>
        <div class="col-sm-6">
          <a href="#employeeFormModal" (click)="onAddEmployeeInit(); setAction(actionType.Add);" class="btn btn-success" data-toggle="modal">
            <i class="material-icons">&#xE147;</i>
            <span>Add New Employee</span>
          </a>
        </div>
      </div>
    </div>
    <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search...">
    </nav>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Designation</th>
          <th>Email</th>
          <th>Office Location</th>
          <th>Salary</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | filter:filter; let i = index">
              <td>{{employee.name}}</td>
              <td>{{employee.designation}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.location}}</td>
              <td>{{employee.salary}}</td>
              <td>
                <a href="#employeeFormModal" (click)="onRowSelected(employee); setAction(actionType.Edit);" class="edit" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Edit">create</i>
                </a>
                <a href="#deleteEmployeeModal" (click)="onRowSelected(employee); setAction(actionType.Delete);" class="delete" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                </a>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Employee Modal HTML Container -->
<app-employee [employee]="selectedEmployee" [action]="action" (notify)="onNotify($event)"></app-employee>